.border-top-blue {
    border-top: 2px solid blue;
  }
  
  .bg-red {
    background-color: red;
  }
  
  .bg-yellow {
    background-color: yellow;
  }
  
  .border-dotted {
    border: 1px dotted;
  }